@model TodoMvc.Models.View.TodoViewModel
@using Humanizer

@{
    ViewData["Title"] = @Model.User.UserName+"'s Todo List";
}

<div class="panel panel-default todo-panel">
    <div class="panel-heading">@ViewData["Title"]</div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Item</th>
                <th>Due</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model.Items) {
                <tr>
                    <td>@item.Title</td>
                    <td>@item.DueAt.Humanize()</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>   
    <a asp-controller="ManageUsers" asp-action="Index">Back to List</a>   
</div> 